.register-button {
    background-color: #4b5684;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 20px 10px 25px gray;
    border-width: 0;
    margin-top: 15px;
}

.register-button:focus {
    outline: none;
}

.register-button:hover {
    cursor: pointer;
}